<app-panel [options]="'orthodox-church'">
    <h1 class="display-3">Practise Russian Cases</h1>
        <h4>
            Choose your options &mdash;
            Practise &mdash;
            Visit Resources
        </h4>
    <a routerLink="/study" class="btn btn-lg btn-warning">Start Studying</a>
</app-panel>

<app-panel [options]="'short'">
    <h2>Other Resources</h2>
    <div class="row">
        <div class="col-md-3">
            <ul>
                <li><a href="https://www.reddit.com/r/russian/">reddit.com/r/russian/</a></li>
                <li><a href="https://www.reddit.com/r/russian/wiki/index">/r/russian Wiki</a></li>
                <li><a href="https://www.duolingo.com/course/ru/en/Learn-Russian-Online">Duolingo Russian</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="http://learnrussian.rt.com/">RT Learn Russian</a></li>
                <li><a href="http://www.explaura.net/learnrussian.rt.com">RT Russian Answers</a></li>
                <li><a href="http://masterrussian.com/">Master Russian</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="https://en.openrussian.org/">OpenRussian.org</a></li>
                <li><a href="http://lib.ru/">Lib.ru</a></li>
                <li><a href="https://pikabu.ru/">Pikabu.ru</a></li>
            </ul>
        </div>
    </div>
</app-panel>