$white:  #fafafa !default;
$gray-100: #eee !default;
$gray-200: #ddd !default;
$gray-300: #ccc !default;
$gray-400: #bbb !default;
$gray-500: #aaa !default;
$gray-600: #888 !default;
$gray-700: #555 !default;
$gray-800: #444 !default;
$gray-900: #222 !default;
$black:  #111 !default;

$blue:    #4582ec !default;
$indigo:  #6610f2 !default;
$purple:  #ac32a5 !default;
$pink:    #e83e8c !default;
$red:     #a50b0b !default;
$orange:  #d57212 !default;
$yellow:  #ffc107 !default;
$green:   #11ac1c !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$theme-colors: (
    primary: $blue,
    secondary: $gray-300,
    success: $green,
    info: $purple,
    warning: $orange,
    danger: $red,
    light: $gray-100,
    dark: $gray-900
  ) !default;

  $enable-rounded:            false !default;
  $enable-shadows:            false !default;
  $enable-gradients:          false !default;
  $enable-transitions:        true !default;
  $enable-hover-media-query:  false !default;
  $enable-grid-classes:       true !default;
  $enable-print-styles:       true !default;
  